# PostgreSQL credentials
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

# Database URL (use postgres-service for Kubernetes)
DATABASE_URL=postgresql+asyncpg://your_user:your_password@postgres-service:5432/your_db

# App secrets
API_KEY=your-api-key
DEBUG=true

ARTIFACT_FILE_NAME=model_v20260914_195522.cbm